@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

body {
  height: 100vh;
  color: rgb(226, 226, 226);
  overflow: hidden;
  font-family: 'Antonio', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  min-height: 35px;
  background-color: rgb(22, 22, 22);
  z-index: 1;
}

.logo {
  padding-left: 20px;
  width: 33.3333vw;
  color: rgb(255, 72, 72);
  display: flex;
  justify-content: flex-start;
}

.navbar {
  width: 33.3333vw;
  height: 100%;
  min-height: 35px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  width: 33.3333vw;
}


.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 100px;
}

.nav-a {
  padding: 20px;
}

ul {
  height: 100%;
  display: flex;
}

li {

  list-style: none;
}


a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(226, 226, 226);
}

main {
  position: relative;
  background-image: url('./images/milky-base-1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 90%;
  background-color: rgb(8, 29, 49);
}

.space-container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  height: 5%;
  background-color: rgb(8, 8, 8);
  min-height: 35px;
  z-index: 1;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.3333%;
}

.foot-ul {
  width: 100%;
}

.foot-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33.3333%;
  min-width: 100px;
}

.stars {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  overflow: hidden;
}

.star-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
}

.bright {
  animation: star-birth 5s linear;
}

@keyframes star-birth {
  0% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px rgba(255, 0, 0, 0);
  }
  10% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);

  }
  50% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);

  }
  100% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px rgba(255, 0, 0, 0);
  }
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
  color:rgb(0, 0, 0, 0);
  text-shadow: 0px 0px 1px white;
}

h3 {
  text-shadow: 5px 5px 5px black;
  padding-bottom: 5px;
}

p {
  font-family: 'Mukta', sans-serif;
}

.display {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.fa {
  font-size: 30px;
  padding: 20px;
}

a.satelite-btn {
  padding: 20px;
}

.hide {
  display: none;
}

.setting-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.setting-menu {
  background-color: rgb(0, 0, 0, .5);
  padding: 35px;
}

.sound {
  display: flex;

}

.detail {
  display: flex;
  flex-direction: column;
}

.grades {
  display: flex;
  gap: 10px;
}

.settings:hover {
  color:rgb(255, 72, 72);
}

.about-page {
  width: 50%;
}

.image {
  position: sticky;
  width: 100%;
  min-width: 480px;
}

.img {
 width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  position: sticky;
}

.name-and-email {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.subject-and-message {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 10px;
}

.name {
  width: 50%;
}

.email {
  width: 50%;
}

input {
  font-size: 1rem;
  border-style: none;
  height: 44px;
  background-color: rgb(0, 0, 0, .5);
  color: white;
  padding: 10px;
}

textarea {
  font-size: 1rem;
  border-style: none;
  background-color: rgb(0, 0, 0, .5);
  color: white;
  height: 250px;
  padding: 10px;
}

.send {
  background-color: rgb(21, 21, 21);
  color: rgb(207, 207, 207);
  font-size: 1rem;
  border-style: none;
  border-radius: 5px;
  height: 44px;
  width: 200px;
  margin: auto;
}

.send:hover {
  box-shadow: 0px 0px 10px 2px rgb(255, 31, 31);
  color: rgb(255, 31, 31);
}

.work-img {
  width: 100%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
}

.work {
  background-color: rgb(0, 0, 0, .5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-width: 200px;

}

.work-section {
  display: flex;
  flex-direction: column;
}

.contact-section {
  max-width: 500px;
}

.pawpac {
  color: rgb(255, 72, 72);
}

.about-section {
  background-color: rgb(0, 0, 0, .5);
  padding: 50px;
  min-width: 480px;
}

.section {
  background-color: rgb(0, 0, 0, .5);
  padding: 50px;
  min-width: 480px;
}

.space-container {
  width: 100%;
  height: 100%;
}

.work-img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.constelation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stars-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.speck {
  text-shadow: 0px 0px 5px white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@keyframes starLife {
  from {
    color: rgba(255, 255, 255, 0.5);
  }
  to {
    color: rgb(255, 255, 255);
  }
}



.sat-for-media {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
  
  .navbar {
    width: 100vw;
  }
  
  .settings {
    display: none;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .foot-ul {
    width: 100%;
  }
  
  .foot-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33.3333%;
    min-width: 100px;
  }

  .about-page {
    width: 100vw;
  }

  .about-section {
    width: 100%;
    min-width: 0;
    padding: 0;
  }

  .section {
    padding: 0;
    min-width: 0;
  }

  .image {
    width: 100%;
    min-width: 0;
  }

  .img {
    width: 100vw;
  }

  .display {
    width: 100vw;
  }

  p,
  h2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

